@import "../omarchy/current/theme/waybar.css";

* {
    background-color: transparent;
    color: @foreground;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12px;
}

window#waybar {
    background-color: @background;
    /*border-left: 1.5px solid @foreground;
    border-right: 1.5px solid @foreground;*/
}

.modules-left {
    margin-left: 2px;
    background: @background;
}

.modules-center {
    background: @background;
    padding: 0 15px;
    background:
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom right,
        linear-gradient(@foreground, @foreground) bottom right;
    background-size:
        8px 0.5px,
        0.5px 8px,
        0.5px 8px,
        8px 0.5px,
        0.5px 8px,
        8px 0.5px,
        0.5px 8px;
    background-repeat: no-repeat;
    background-position:
        top left,
        top left,
        top right,
        top right,
        bottom left,
        bottom left,
        bottom right,
        bottom right;
}

.modules-right {
    margin-right: 4;
    background: @background;
    background:
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom right,
        linear-gradient(@foreground, @foreground) bottom right;
    background-size:
        8px 0.7px,
        0.7px 8px,
        0.7px 8px,
        8px 0.7px,
        0.7px 8px,
        8px 0.7px,
        0.7px 8px;
    background-repeat: no-repeat;
    background-position:
        top left,
        top left,
        top right,
        top right,
        bottom left,
        bottom left,
        bottom right,
        bottom right;
}

#workspaces button {
    all: initial;
    padding: 0 15px;
    margin: 0 3px;
    min-width: 9px;
    /*border-radius: 3px;*/
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: padding, min-width, margin;
}

#workspaces button.active {
    min-width: 10px;
    /*padding: 0 15;*/
    background:
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom right,
        linear-gradient(@foreground, @foreground) bottom right;
    background-size:
        8px 0.5px,
        0.5px 8px,
        0.5px 8px,
        8px 0.5px,
        0.5px 8px,
        8px 0.5px,
        0.5px 8px;
    background-repeat: no-repeat;
    background-position:
        top left,
        top left,
        top right,
        top right,
        bottom left,
        bottom left,
        bottom right,
        bottom right;
}
#workspaces button.empty {
    opacity: 0.5;
    /*background: transparent;*/
}
#workspaces button:hover {
    /*padding: 0 10px;*/
    background:
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom right,
        linear-gradient(@foreground, @foreground) bottom right;
    background-size:
        8px 0.5px,
        0.5px 8px,
        0.5px 8px,
        8px 0.5px,
        0.5px 8px,
        8px 0.5px,
        0.5px 8px;
    background-repeat: no-repeat;
    background-position:
        top left,
        top left,
        top right,
        top right,
        bottom left,
        bottom left,
        bottom right,
        bottom right;
}
/*
#window {
    border: 1px solid #737373;
    padding: 0 12px;
    min-width: 10px;
}*/

window#waybar.empty #window {
    opacity: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
#custom-update,
#custom-omarchy,
#custom-screenrecording-indicator {
    min-width: 12px;
    margin: 0 7.5px;
}
#custom-update {
    margin-left: 8px;
    margin-right: 0px;
    font-size: 12;
}
#custom-omarchy {
    padding-right: 3px;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#custom-omarchy:hover {
    font-size: 14;
}
/*#custom-analog-clock {
    font-family: "SimpleAnalogClockFont";
    font-size: 11px;
    margin-right: 6;
    font-weight: bold;
}*/

#tray {
    margin-left: 10px;
    padding-right: 10;
}
#custom-record {
    margin-left: 10px;
    margin-right: 20px;
}

#bluetooth {
    margin-right: 20px;
}

#pulseaudio {
    margin-right: 25px;
}

#network {
    margin-right: 25px;
}

#memory {
    margin-right: 10px;
}

#battery {
    margin-right: 20px;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#cpu {
    margin-right: 20px;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/*#power-profiles-daemon {
    font-size: 13;
    margin-right: 5px;
}*/
#custom-expand-icon {
    margin-right: 18px;
}

tooltip {
    background:
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top left,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) top right,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom left,
        linear-gradient(@foreground, @foreground) bottom right,
        linear-gradient(@foreground, @foreground) bottom right;
    background-size:
        10px 0.8px,
        0.8px 10px,
        0.8px 10px,
        10px 0.8px,
        0.8px 10px,
        10px 0.8px,
        0.8px 10px;
    background-repeat: no-repeat;
    background-position:
        top left,
        top left,
        top right,
        top right,
        bottom left,
        bottom left,
        bottom right,
        bottom right;
    background-color: @background;
    padding: 2px;
}

#clock {
    font-size: 13;
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-right: 0px;
    margin-top: 0;
    font-size: 10px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-screenrecording-indicator.active {
    color: @foreground;
    animation-name: blink-recording;
    animation-duration: 0.7s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

/*
#custom-timer {
    background-color: #1e1e2e;
    padding: 0 7px;
    font-size: 12.5px;
    margin-left: 0px;
  border-radius: 15px;
    font-family: "CaskaydiaMono Nerd Font";
    transition: all 0.2s ease;
}

#custom-timer.disabled {
    background-color: transparent;
    color: #bfbfbf;
    opacity: 0.6;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#custom-timer.idle {
    background-color: transparent;
    color: #bfbfbf;
}

#custom-timer.select {
    background-color: #373948;
    color: #85b2fa;
}

#custom-timer.running {
    background-color: transparent;
    color: #cccccc;
}

#custom-timer.pomo_break {
    background-color: transparent;
    color: #f9e2af;
}

#custom-timer.pomo_msg {
    background-color: transparent;
    color: #cba6f7;
}

#custom-timer.paused {
    background-color: #404040;
    color: #f9e2af;
}

#custom-timer.warning {
    background-color: transparent;
    animation-name: red-alert;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-timer.done {
    background-color: #bfbfbf;
    color: #11111b;
}

#custom-timer.reset {
    color: #ff4d4d;
    background-color: transparent;
}

@keyframes red-alert {
    0% {
        color: #ff4d4d;
        opacity: 1;
    }
    100% {
        color: #ff4d4d;
        opacity: 0.8;
        text-shadow: none;
    }
}
*/
