dconf/
gtk-3.0/
gtk-4.0/
pulse/
procps/
yay/
google-chrome/
gh/
fcitx5/
vesktop/
git/
atac
cava/
voxtype/
btop/
aether/
gthumb/
ibus/
gpu-screen-recorder/
mpv/
htop/
Code/
backgrounds/
Cursor/
shaders/
mimeapps.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
omarchy.ttf
qalculate/
**/.cache/
**/cache/
.cache/
*.log
*.tmp
.DS_Store
Thumbs.db
.vscode/
.idea/
.telemetry/
nautilus/
fontconfig/
environment.d/
Steam/
discord/
spotify/
go/
go/telemetry/
go/telemetry/local/
systemd/
systemd/user/
autostart/
elephant/
hyprland-preview-share-picker/
imv/
lazygit/
walker/
electron-builder.json
current
posting
uv
lazydocker
swayosd
github-copilot
gitui
fontforge
pavucontrol.ini
