@import "../omarchy/current/theme/waybar.css";

* {
    background-color: @background;
    color: @foreground;
    font-family: "CaskaydiaMono Nerd Font";

    font-size: 12px;
}

.modules-left {
    margin-left: 2px;
    background: @background;
}

.modules-center {
    background: @background;
    padding: 0 15px;
}

.modules-right {
    margin-right: 2px;
    padding: 0 7 0 12;
    background: @background;
}

#workspaces button {
    all: initial;
    /*padding: 0 15px;*/
    margin: 0 0px;
    min-width: 9px;

    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#workspaces button.active {
    min-width: 10px;
    /*padding: 0 20;*/
}
#workspaces button.empty {
    opacity: 0.5;
    /*background: transparent;*/
}
/*#workspaces button:hover {
    padding: 0 20px;
}*/
/*
#window {
    padding: 0 12px;
    min-width: 10px;
}*/

window#waybar.empty #window {
    opacity: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
}
#custom-update,
#custom-omarchy,
#custom-screenrecording-indicator {
    min-width: 12px;
    margin: 0 7.5px;
}
#custom-update {
    margin-left: 8px;
    margin-right: 0px;
    font-size: 12;
}
#custom-omarchy {
    padding-right: 1px;
}

#tray {
    margin-right: 10px;
    padding-right: 12;
}

/*#bluetooth {
    margin-right: 20px;
}*/
#pulseaudio {
    margin-right: 15px;
}

#network {
    margin-right: 10px;
}
#memory {
    margin-right: 15px;
}
#cpu {
    margin-right: 15px;
}
#temperature {
    margin-right: 12px;
}

#battery {
    margin-right: 0px;
}
/*#power-profiles-daemon {
    font-size: 13;
    margin-right: 5px;
}*/
#custom-expand-icon {
    margin-right: 18px;
}

tooltip {
    background-color: @background;
    padding: 2px;
}

#clock {
    font-size: 13;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-right: 0px;
    margin-top: 0;
    font-size: 10px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-screenrecording-indicator.active {
    color: @foreground;
    animation-name: blink-recording;
    animation-duration: 0.7s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

#custom-voxtype {
    min-width: 22px;
    font-size: 15px;
    margin-right: 10px;
}

#custom-voxtype.recording {
    color: @background;
}
/*
#custom-timer {
    background-color: #1e1e2e;
    padding: 0 7px;
    font-size: 12.5px;
    margin-left: 0px;

    font-family: "CaskaydiaMono Nerd Font";
    transition: all 0.2s ease;
}

#custom-timer.disabled {
    background-color: transparent;
    color: #bfbfbf;
    opacity: 0.6;
    font-weight: normal;

    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#custom-timer.idle {
    background-color: transparent;
    color: #bfbfbf;
}

#custom-timer.select {
    background-color: #373948;
    color: #85b2fa;
}

#custom-timer.running {
    background-color: transparent;
    color: #cccccc;
}

#custom-timer.pomo_break {
    background-color: transparent;
    color: #f9e2af;
}

#custom-timer.pomo_msg {
    background-color: transparent;
    color: #cba6f7;
}

#custom-timer.paused {
    background-color: #404040;
    color: #f9e2af;
}

#custom-timer.warning {
    background-color: transparent;
    animation-name: red-alert;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-timer.done {
    background-color: #bfbfbf;
    color: #11111b;
}

#custom-timer.reset {
    color: #ff4d4d;
    background-color: transparent;
}

@keyframes red-alert {
    0% {
        color: #ff4d4d;
        opacity: 1;
    }
    100% {
        color: #ff4d4d;
        opacity: 0.8;
        text-shadow: none;
    }
}
*/
